body {
  margin: 0;
  height: 100vh;
  display: grid;
  place-items: center;
  font-family: 'Hanken Grotesk', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
